* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	margin: 100px auto;
	width: 600px;
}

body {
	background-color: #777;
}
.f {
	width: 600px;
	height: 600px;
	border: 6px solid rgb(0, 194, 228);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.c {
	border-radius: 10px;
	width: 80%;
	height: 60%;
	background-color: rgb(0, 194, 228);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 120px;
	font-weight: 900;
	color: #777;
}
.b {
	width: 80%;
	height: 20%;
	border: 6px solid rgb(0, 194, 228);
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
}
.btn {
	padding: 10px 20px;
	background-color: rgb(0, 194, 228);
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 30px;
	font-weight: 700;
	justify-content: space-between;
	cursor: pointer;
}
.btn:active {
	background-color: red;
}
.btnUnActive {
	background-color: rgb(0, 194, 228);
}
/* tsop */
.stop {
	color: red;
	font-size: 150px;
}
.btnStop {
	background-color: rgb(196, 193, 193);
	opacity: 0.5;
}
.error {
	border: 2px solid red;
}
